@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
